<!doctype html>
<html>
<head>
<title>Web Application</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Sprint Data</h1>

<h2>Sprint Backlog</h2>

<table>
  <tr>
    <th>Story</th>
    <th>Estimated Points</th>
  </tr>
  <tr>
    <td>Story 1: Account Balance</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Story 2: Money Transfer</td>
    <td>13</td>
  </tr>
  <tr>
    <td>Story 3: Installment Plan</td>
    <td>13</td>
  </tr>
  <tr>
    <td>Story 4: e-Statement</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Story 5: Pay Bills</td>
    <td>13</td>
  </tr>
</table>

<h2>Sprint Management</h2>

<table>
  <tr>
    <th>Number of Weeks</th>
    <th>Starting Story Points</th>
    <th>Ideal Burn-rate</th>
  </tr>
  <tr>
    <td>7</td>
    <td>55</td>
    <td>9.166667</td>
  </tr>
</table>

<h2>Every Week Updates</h2>

<table>
  <tr>
    <th>Week</th>
    <th>Ideal</th>
    <th>Actual Burnt</th>
    <th>Velocity</th>
  </tr>
  <tr>
    <td>1</td>
    <td>55</td>
    <td>55</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>45.83333</td>
    <td>55</td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>36.66667</td>
    <td>55</td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>27.5</td>
    <td>42</td>
    <td>13</td>
  </tr>
  <tr>
    <td>5</td>
    <td>18.33333</td>
    <td>29</td>
    <td>13</td>
  </tr>
  <tr>
    <td>6</td>
    <td>9.166667</td>
    <td>21</td>
    <td>8</td>
  </tr>
  <tr>
    <td>7</td>
    <td>0</td>
    <td>0</td>
    <td>21</td>
  </tr>
</table>


</body>
</html>